/**
 * Styles for loading screen
 */

.loading {
  @include full-screen-content-centered();
  background: $background-color;
  z-index: 3;

  &--hidden {
    display: none;
  }

  &__content {
    width: 64px;
    height: 64px;
  }

  &__icon {
    @include svg-bg();
    @include spin();
    background-image: url('../../assets/refresh.svg');
  }
}
